.mensaje-error {
    color: red;
}

/* Diseño de card para el Login y Registro. */
.card-auth {
    background-color: rgb(250, 250, 250);
    max-width: 400px;
    border: none;
    padding: 26px;
}

/* Cuando el ancho sea hasta 574px */
@media (max-width: 575px) {
    .card-auth {
        max-width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 32px;
    }
}
